@{
    ViewBag.Title = "Email Confirmation";
}
<h2>
    XÁC THỰC TÀI KHOẢN
</h2>
<div class="midtext">
    <p>
        Cảm ơn bạn đã đăng ký. Hãy kiểm tra email của bạn để xác thực địa chỉ<br />
        email của bạn không phải là clone.<br />
        Ngay sau khi bạn click vào link xác nhận thì tài khoản của bạn sẽ được kích hoạt.<br />
        ==================================================<br />
        Thank you for registering. Please check your email for a confirmation<br />
        request with a link that will confirm your account. Once you click on <br />
        the confirmation link, your registration will be complete.
    </p>
</div>



