@model Model.EF.Content
@{
    ViewBag.Title = Model.Name;
    ViewBag.Keywords = Model.MetaKeywords;
    ViewBag.Description = Model.MetaDescriptions;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-570e3c45fa9656a3"></script>
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@Model.Name</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @Html.Raw(Model.Detail)
        <ul>
            @{
                var tags = (List<Model.EF.Tag>)ViewBag.Tags;
                foreach (var tag in tags)
                {
                    <li><a href="/tag/@tag.ID">@tag.Name</a></li>
                }
            }
        </ul>
        <div class="share-desc">
            <div class="share">
                <p>Chia sẻ :</p>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
            </div>
        </div>
    </div>
</div>
