
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>Chúng tôi là ai</h3>
                <img src="/assets/client/images/about%20us.jpg" alt="AboutUs" />
                <p>Cửa hàng Online Shop của chúng tôi chuyên cung cấp các sản phẩm chính hãng của những nhà sản xuất hàng đầu về chất lượng tới với người tiêu dùng Việt Nam</p>
                <p>Chúng tôi cam kết chất lượng sản phẩm tốt nhất sẽ được cung cấp với khách hàng</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Từ khi thành lập</h3>
                <div class="history-desc">
                    <div class="year"><p>2002 -</p></div>
                    <p class="history">Từ khi thành lập chúng tôi đã hướng đến thị trường với lượng sản phẩm đa dạng về mẫu mã và chủng loại</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2006 -</p></div>
                    <p class="history">Nằm trong danh sách những website nổi tiếng về các sản phẩm điện tử chính hãng và chất lượng</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2010 -</p></div>
                    <p class="history">Không ngừng cập nhật những sản phẩm mới và những chính sách khuyến mãi hấp dẫn với người tiêu dùng</p>
                    <div class="clear"></div>
                </div>
                
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Cơ hội cần nắm bắt</h3>
                <p>TPP đang tới rất gần với đất nước chúng ta do đó đây là một cơ hội cực kỳ tốt để có thể giới thiệu các sản phẩm chất lượng của người Việt đến với bạn bè quốc tế</p>
                
                <p>Tuy nhiên lợi thế luôn đi cùng với thách thức, thách thức từ những cơ quan tổ chức tập đoàn từ nước ngoài cạnh tranh với chúng ta, tuy nhiên chúng ôi sẽ không ngừng nỗ lực để tạo ra được những giá trị và đem lại chất lượng tốt nhất cho các sản phẩm</p>
            </div>
        </div>
    </div>
</div>


